
<!DOCTYPE html>

<html lang="en">
<head>
<title>NUnite</title>

<meta charset utf="8">
<!--font-awsome-css-->
     <link rel="stylesheet" href="css/font-awesome.min.css"> 
<!--bootstrap-->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--custom css-->
	<link href="css/style.css" rel="stylesheet" type="text/css"/>
<!--component-css-->


	<!-- web-fonts -->  
  <link href='//fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- //web-fonts -->
	<script src="js/jquery.seat-charts.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.seat-charts.css">

    </head>


	<body>
		<div class="body-back">
			<div class="masthead pdng-stn1">

				<div class="phone-box wrap push" id="home">
					<div class="menu-notify">
						<div class="Profile-mid">
							<h5 class="pro-link">NUnite</h5>
						</div>
						
						<div class="clearfix"></div>
					</div> 

					<!-- modal -->
					<div id="small-dialog" class="">
							<div class="login-modal"> 	
								<div class="booking-info">
									<h3>Create Event</h3>
									
								</div>
								<div class="login-form">
									<form action="#" method="post">
										
										<p>Name</p>
										<input type="text" name="Name" required=""/>
										<p>Course</p>
										<input type="text" name="Course" required=""/>
										<p>Location</p>
										<input type="text" name="Location" required=""/>
										
										


										<div class="wthree-text"> 
											<ul> 
												<li>
													<input type="checkbox" id="brand" value="">
													<label for="brand"><span></span>Approve Guests</label>  

													<input type="checkbox" id="location" value="">
													<label for="location"><span></span>Location Hidden</label> 
												</li>										
											</ul>

											
											<p>Description</p>
											<input type="textarea" name="Description" required=""/>
											

											
											<div class="clear"> </div>
										</div> 
											

										
										<input type="submit" value="Create">		
									</form>
								</div> 
							</div>
						</div>
						<!-- //modal --> 

					</div>
						<!-- /hotel-single-->
				
			</div>
		</div>
	</body>
</html>