{% extends "base.html" %}

{% block body %}
<div class="body-back">
			<div class="masthead pdng-stn1">

				<div class="phone-box wrap push" id="home">
					<div class="menu-notify">
						<div class="Profile-mid">
							<h5 class="pro-link">NUnite</h5>
						</div>
						
						<div class="clearfix"></div>
					</div> 

					<!-- modal -->
					<div id="small-dialog" class="">
							<div class="login-modal"> 	
								<div class="booking-info">
									<h3>Create Event</h3>
									
								</div>
								<div class="login-form">
									<form action="add_event" method="post">
										
										<p>Name</p>
										<input type="text" name="Name" required=""/>
										<p>Course</p>
										<input type="text" name="Course" required=""/>
										<p>Location</p>
										<input type="text" name="Location" required=""/>
										
										


										<div class="wthree-text"> 
											<ul> 
												<li>
													<input type="checkbox" id="brand" value="">
													<label for="brand"><span></span>Approve Guests</label>  

													<input type="checkbox" id="location" value="">
													<label for="location"><span></span>Location Hidden</label> 
												</li>										
											</ul>

											
											<p>Description</p>
											<input type="textarea" name="Description" required=""/>
											

											
											<div class="clear"> </div>
										</div> 
											

										
										<input type="submit" value="Create">		
									</form>
								</div> 
							</div>
						</div>
						<!-- //modal --> 

					</div>
						<!-- /hotel-single-->
				
			</div>
		</div>
{% endblock %}