{% extends "base.html" %}

{% block body %}
		<div class="body-back">
			<div class="masthead pdng-stn1">

				<div class="phone-box wrap push" id="home">
					<div class="menu-notify">
						<div class="Profile-mid">
							<h5 class="pro-link">NUnite</h5>
						</div>
						
						<div class="clearfix"></div>
					</div> 



					<div class="details-grid ht">
						<div class="details-shade ">
								<div class="details-right">
									<h3>NUnite</h3>
									<h4>Select. Socialize. Succeed.</h4>
								</div>

								<div class="banner_search">
										<form action="#" method="post">
											<input type="search" name="search" value="Search events" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search events';}" required="">
											<input type="submit" value=" ">
										</form>
								</div>
		
						
						</div>
					</div>


					<div class="w3agile single-hotel">
						<!--events-->
							<!--/event1-->
							 <div class="hotel-rooms">
								<div class="hotel-left">
									<a href="#" data-toggle="modal" data-target="#myModalbook"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span>NU Wins NASA RASC-AL Mars Ice Challenge</a>
									<p>June 10, 2019</p>
									<div class="hotel-left-grids">
										<div class="hotel-left-one">
											<a href="#" data-toggle="modal" data-target="#myModalbook"><img src="{{url_for('static', filename='images/h1.jpg')}}" alt=""></a>
											<span class="sale-box">
												<span class="sale-label">New</span>
											</span>
										</div>
										<div class="hotel-left-two">
											<!-- <a href="#" data-toggle="modal" data-target="#myModalbook"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Diamond Street</a> -->
											<p>Northeastern's undergraduate engineering team Wins First Place at the 2018 NASA RASC-AL Mars Ice Challenge, competing with 10 finalist teams at NASA's Langley Research Center.</p>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							<!--//event1-->
							<!--/event2-->
							 <div class="hotel-rooms">
								<div class="hotel-left">
									<a href="#" data-toggle="modal" data-target="#myModalbook"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span>New Engineering Academic Programs </a>
									<p>July 3, 2019</p>
									<div class="hotel-left-grids">
										<div class="hotel-left-one">
											<a href="#" data-toggle="modal" data-target="#myModalbook"><img src="{{url_for('static', filename='images/h2.jpg')}}" alt=""></a>
											
										</div>

										<div class="hotel-left-two">
											<!-- <a href="#" data-toggle="modal" data-target="#myModalbook"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Diamond Street</a> -->
											
											<p>It's a new academic year and with that, the College of Engineering has several exciting new multidisciplinary undergraduate and graduate programs available starting fall 2018 and spring 2019.</p>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								
								<div class="clearfix"></div>
							</div>
							<!--//event2-->
							</div>>

					</div>
						<!-- /hotel-single-->
				
			</div>
		</div>
{% endblock %}