{% extends "base.html" %}
{% block title %} NUnite - see what's happening {% endblock %}
{% block body %}
    <div id='content'>
        <span id='title'>All Events</span>
        <a href="{{url_for('register')}}">Sign up or log in</a>
        <a href="{{url_for('create')}}">New event</a>
        <ul>
            {% for event in events %}
                <li><a href="{{url_for('event', id=events[event]['name'])}}">{{events[event]['name']}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}