r
<!DOCTYPE html>

<html lang="en">
<head>
<title>NUnite</title>

<meta charset utf="8">
<!--font-awsome-css-->
     <link rel="stylesheet" href="css/font-awesome.min.css">
<!--bootstrap-->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--custom css-->
	<link href="css/style.css" rel="stylesheet" type="text/css"/>
<!--component-css-->


	<!-- web-fonts -->  
  <link href='//fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- //web-fonts -->
	<script src="js/jquery.seat-charts.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.seat-charts.css">

	</head>


	<body>
		<div class="body-back">
			<div class="masthead pdng-stn1">

				<div class="phone-box wrap push" id="home">
					<div class="menu-notify">
						<div class="Profile-mid">
							<h5 class="pro-link">NUnite</h5>
						</div>
						
						<div class="clearfix"></div>
					</div> 

					<!-- modal -->
					<div id="small-dialog" class="">
							<div class="login-modal"> 	
								<div class="booking-info">
									<h3>Register User</h3>
									
								</div>
								<div class="login-form">
									<form action="#" method="post">
										
										<p>Name</p>
										<input type="text" name="name" required=""/>
										<p>Email</p>
										<input type="text" name="course" required=""/>
										
										<p>Password</p>
										<input type="password" name="password" required=""/>
										
										<p>Repeat Password</p>
										<input type="password" name="repeatpassword" required=""/>
										


										<div class="wthree-text"> 

											<p>Select the course tags you are enrolled in</p>
											<ul> 
												<li>
													<input type="checkbox" id="class1" value="">
													<label for="class1"><span></span>ITC 6000</label>  

													<input type="checkbox" id="class2" value="">
													<label for="class2"><span></span>ALY 6000</label> 
												</li>										
											</ul>
											
											<div class="clear"> </div>
										</div> 
											

										
										<input type="submit" value="Create">		
									</form>
								</div> 
							</div>
						</div>
						<!-- //modal --> 

					</div>
						<!-- /hotel-single-->
				
			</div>
		</div>
	</body>
</html>