{% extends "base.html" %}

{% block body %}
<div class="body-back">
			<div class="masthead pdng-stn1">

				<div class="phone-box wrap push" id="home">
					<div class="menu-notify">
						<div class="Profile-mid">
							<h5 class="pro-link">NUnite</h5>
						</div>
						
						<div class="clearfix"></div>
					</div> 

					<!-- modal -->
					<div id="small-dialog" class="">
							<div class="login-modal"> 	
								<div class="booking-info">
									<h3>Register User</h3>
									
								</div>
								<div class="login-form">
									<form action="add_user" method="post">
										
										<p>Name</p>
										<input type="text" name="name" required=""/>
										<p>Email</p>
										<input type="text" name="course" required=""/>
										
										<p>Password</p>
										<input type="password" name="password" required=""/>
										
										<p>Repeat Password</p>
										<input type="password" name="repeatpassword" required=""/>
										


										<div class="wthree-text"> 

											<p>Select the course tags you are enrolled in</p>
											<ul> 
												<li>
													<input type="checkbox" id="class1" value="">
													<label for="class1"><span></span>ITC 6000</label>  

													<input type="checkbox" id="class2" value="">
													<label for="class2"><span></span>ALY 6000</label> 
												</li>										
											</ul>
											
											<div class="clear"> </div>
										</div> 
											

										
										<input type="submit" value="Create">		
									</form>
								</div> 
							</div>
						</div>
						<!-- //modal --> 

					</div>
						<!-- /hotel-single-->
				
			</div>
		</div>
	{% endblock %}