
<!DOCTYPE html>

<html lang="en">
<head>
<title>NUnite</title>

<meta charset utf="8">
<!--font-awsome-css-->
     <link rel="stylesheet" href="css/font-awesome.min.css"> 
<!--bootstrap-->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--custom css-->
	<link href="css/style.css" rel="stylesheet" type="text/css"/>
<!--component-css-->


	<!-- web-fonts -->  
  <link href='//fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- //web-fonts -->
	<script src="js/jquery.seat-charts.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.seat-charts.css">

    </head>


	<body>
		<div class="body-back">
			<div class="masthead pdng-stn1">

				<div class="phone-box wrap push" id="home">
					<div class="menu-notify">
						<div class="Profile-mid">
							<h5 class="pro-link">NUnite</h5>
						</div>
						
						<div class="clearfix"></div>
					</div> 

					<!-- modal -->
					<div id="small-dialog" class="">
							<div class="login-modal"> 	
								<div class="booking-info">
									<h3>View An Event</h3>
									
								</div>



								<!-- about --> 
								<div class="w3agile about">
										
										<div class="col-md-7 abt-left">
										<div class="about-img">
											<a href="about.html"><img class="img-responsive" src="images/teacher.jpg" alt="" /></a>
										</div>


										<div class="clearfix"></div>
									</div>
									<div class="col-md-5 abt-right">
										<h4>ALY 6000 Introduction to Analytics</h4>
										<h3>Professor: Andrea</h3>
										<h3>Time: Winter 2019, Fall 2018, Summer 2018, Spring 2018</h3>
										<h3>Location: Boston campus, Online</h3>


										<p>Hi guys! I am going to take ALY 6000 next semester. I am looking for people to study together. I am creating								</p>


									
									</div>
							<div class="clearfix"></div>
							
							</div>
							<div class="w3agile whychoose">
									<h3 class="w3ls-title">Our Services</h3>
											 <div class="why-top">
											 <div class="choose-grids">
												 <div class="col-md-6 choose-grid">
												 <h4> Previous Comments</h4>
												 <p>Cameron is great! She is always willing to help you with anything. She gives you options with your projects and presenting in the class. Her lectures are easy to follow and fun. If you read and take notes the midterm and final will be easy. Definitely would take again !</p>
												 </div>

												 <div class="col-md-6 choose-grid">
												 <h4>Group Members</h4>
												 <p>Danny, Henry, Tom, Mary</p>
												 </div>
											 
												 <div class="clearfix"></div>
											 </div>
										 </div>
									 </div>
						<!-- //about --> 
							</div>
						</div>
						<!-- //modal --> 

					</div>
						<!-- /hotel-single-->
				
			</div>
		</div>
	</body>
</html>